{% extends 'base.html' %}

{% block title %}
Category
{% endblock title %}

{% block title2 %}
<div align="center">
           <h3>Доска объявлений</h3>
                <h4>OOO "MMORPG"</h4>
            <span class="subheading">Фанатский сервис</span>
    </div>
{% endblock title2 %}

{% block category %}

 <div class="topnav">
        <a href="{% url 'category' category_tanks %}">Танки</a>
        <a href="{% url 'category' category_hills %}">Хилы</a>
        <a href="{% url 'category' category_dd %}">ДД</a>
        <a href="{% url 'category' category_Merchants %}">Торговцы</a>
        <a href="{% url 'category' category_Guildmasters %}">Гильдмастер</a>
        <a href="{% url 'category' category_Questgivers %}">Квестгиверы</a>
        <a href="{% url 'category' category_Blacksmiths %}">Кузнецы</a>
        <a href="{% url 'category' category_Tanners %}">Кожевники</a>
        <a href="{% url 'category' category_Zelievars %}">Зельевары</a>
        <a href="{% url 'category' category_SpellMasters %}">Мастера заклинаний</a>
  </div>

  {% endblock category %}
{% block content %}
{% if Declaration %}
           {% for Dec in Declaration %}
          <a href="{{Dec.id}}">
            <h3 class="post-title">
              {{Dec.title}}
            </h3>
            <h4 class="post-subtitle">
              {{Dec.text|truncatechars:50}}
            </h4>
              </a>
          <h5>
          <p class="post-meta">Размещено на
            <a href="/">ООО "MMORPG" сервис</a>
             {{Dec.date_create|date:'d M Y'}}
          </p>
          </h5>
         {% endfor %}
   {% else %}
       <h3> Постов нету</h3>
   {% endif %}
<div class="clearfix">
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page=1">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&rarr;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя </a>
    {% endif %}
{% endif %}
</div>
{% endblock content %}